body, html{
    margin: 0;
    padding: 0;
    min-height: 100%;
}
body{
    background: url("./assets/background.png");
    color: white;
    background-position: center;
    background-size: contain;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }

.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header'
    'menu main main main '
    'menu footer footer footer';
  gap: 10px;
 
  /* padding: 10px; */
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/* sidebar */
.item2{
    background-color: #660099;
}
ul li{
    list-style-type: none;
    text-align: left;
    padding: 10px;
}
#footer {
  position: fixed;
  bottom: 0;
  width: 60%;
  margin-bottom: 5px;
}
#wan{
  margin-bottom: 2rem;
}
#addi{
  margin-bottom: 10px;
  align-items: start;
  color: black;
}
